# MySQL Data Types (Version 8.0)

## String Data Types

* **CHAR(size)**<br>
A FIXED length string (can contain letters, numbers, and special characters). The size parameter specifies the column length in characters - can be from 0 to 255. Default is 1
* **VARCHAR(size)**<br> 
A VARIABLE length string (can contain letters, numbers, and special characters). The size parameter specifies the maximum column length in characters - can be from 0 to 65535
* **BINARY(size)**<br> 
Equal to CHAR(), but stores binary byte strings. The size parameter specifies the column length in bytes. Default is 1
* **VARBINARY(size)**<br> 
Equal to VARCHAR(), but stores binary byte strings. The size parameter specifies the maximum column length in bytes.
* **TINYBLOB**<br> 
For BLOBs (Binary Large Objects). Max length: 255 bytes
* **TINYTEXT**<br> 
Holds a string with a maximum length of 255 characters
* **BLOB(size)**<br> 
For BLOBs (Binary Large Objects). Holds up to 65,535 bytes of data
* **TEXT(size)**<br> 
Holds a string with a maximum length of 65,535 bytes
* **MEDIUMTEXT**<br> 
Holds a string with a maximum length of 16,777,215 characters
* **MEDIUMBLOB**<br> 
For BLOBs (Binary Large Objects). Holds up to 16,777,215 bytes of data
* **LONGTEXT**<br> 
Holds a string with a maximum length of 4,294,967,295 characters
* **LONGBLOB**<br> 
For BLOBs (Binary Large Objects). Holds up to 4,294,967,295 bytes of data
* **ENUM(val1, val2, val3, ...)**<br> 
A string object that can have only one value, chosen from a list of possible values. You can list up to 65535 values in an ENUM list. If a value is inserted that is not in the list, a blank value will be inserted. The values are sorted in the order you enter them
* **SET(val1, val2, val3, ...)**<br> 
A string object that can have 0 or more values, chosen from a list of possible values. You can list up to 64 values in a SET list

## Numeric Data Types

* **BIT(size)**
A bit-value type. The number of bits per value is specified in size. The size parameter can hold a value from 1 to 64. The default value for size is 1.<br> 
* **TINYINT(size)**<br> 
A very small integer. Signed range is from -128 to 127. Unsigned range is from 0 to 255. The size parameter specifies the maximum display width (which is 255)
* **BOOL**<br> 
Zero is considered as false, nonzero values are considered as true.
* **BOOLEAN**<br> 
Equal to BOOL
* **SMALLINT(size)**<br> 
A small integer. Signed range is from -32768 to 32767. Unsigned range is from 0 to 65535. The size parameter specifies the maximum display width (which is 255)
* **MEDIUMINT(size)**<br> 
A medium integer. Signed range is from -8388608 to 8388607. Unsigned range is from 0 to 16777215. The size parameter specifies the maximum display width (which is 255)
* **INT(size)**<br> 
A medium integer. Signed range is from -2147483648 to 2147483647. Unsigned range is from 0 to 4294967295. The size parameter specifies the maximum display width (which is 255)
* **INTEGER(size)**<br> 
Equal to INT(size)
* **BIGINT(size)**<br> 
A large integer. Signed range is from -9223372036854775808 to 9223372036854775807. Unsigned range is from 0 to 18446744073709551615. The size parameter specifies the maximum display width (which is 255)
* **FLOAT(size, d)**<br> 
A floating point number. The total number of digits is specified in size. The number of digits after the decimal point is specified in the d parameter. This syntax is deprecated in MySQL 8.0.17, and it will be removed in future MySQL versions
* **FLOAT(p)**<br> 
A floating point number. MySQL uses the p value to determine whether to use FLOAT or DOUBLE for the resulting data type. If p is from 0 to 24, the data type becomes FLOAT(). If p is from 25 to 53, the data type becomes DOUBLE()
* **DOUBLE(size, d)**<br> 
A normal-size floating point number. The total number of digits is specified in size. The number of digits after the decimal point is specified in the d parameter. Ranges are -1.7976931348623157E+308 to -2.2250738585072014E-308, 0 and 2.2250738585072014E-308 to 1.7976931348623157E+308. If the number of Decimals is not set or 25 <= Decimals <= 53 stands for a double-precision floating point number
* **DOUBLE PRECISION(size, d)**<br> 
A normal-size floating point number. 
* **REAL(M,D)**<br> 
A normal-size floating point number. 
* **DECIMAL(size, d)**<br> 
An exact fixed-point number. The total number of digits is specified in size. The number of digits after the decimal point is specified in the d parameter. The maximum number for size is 65. The maximum number for d is 30. The default value for size is 10. The default value for d is 0.
* **DEC(size, d)**<br> 
Equal to DECIMAL(size,d)
<br> 
Note: All the numeric data types may have an extra option: UNSIGNED or ZEROFILL. If you add the UNSIGNED option, MySQL disallows negative values for the column. If you add the ZEROFILL option, MySQL automatically also adds the UNSIGNED attribute to the column.

## Date and Time Data Types

* **DATE**<br>
A date. Format: YYYY-MM-DD. The supported range is from '1000-01-01' to '9999-12-31'<br> 
* **DATETIME(fsp)**<br>	A date and time combination. Format: YYYY-MM-DD hh:mm:ss. The supported range is from '1000-01-01 00:00:00' to '9999-12-31 23:59:59'. Adding DEFAULT and ON UPDATE in the column definition to get automatic initialization and updating to the current date and time
* **TIMESTAMP(fsp)**<br>	A timestamp. TIMESTAMP values are stored as the number of seconds since the Unix epoch ('1970-01-01 00:00:00' UTC). Format: YYYY-MM-DD hh:mm:ss. The supported range is from '1970-01-01 00:00:01' UTC to '2038-01-09 03:14:07' UTC. Automatic initialization and updating to the current date and time can be specified using DEFAULT CURRENT_TIMESTAMP and ON UPDATE CURRENT_TIMESTAMP in the column definition
* **TIME(fsp)**<br>	A time. Format: hh:mm:ss. The supported range is from '-838:59:59' to '838:59:59'
* **YEAR**<br>	A year in four-digit format. Values allowed in four-digit format: 1901 to 2155, and 0000.
MySQL 8.0 does not support year in two-digit format.